<section class="hero-second @@mode relative" data-hero-second>
    <div class="hero-second__bg absolute z-1 top-0 left-0 w-full h-full bg-themeColor">
        <div class="hero-second__bg-img hidden md:block absolute ibg top-0 right-0 z-1 w-1/2 h-full">
            <img class="w-full h-full object-left object-cover" src="@@img" alt="">
        </div>
    </div>
    <div class="hero-second__body-wrap relative z-2">
        <div class="hero-second__body container text-white flex flex-col gap-[3rem] min-h-[35rem] pt-[4.6rem] pb-[4.6rem]">
            <div class="hero-second__breadcrumbs max-w-[41.3rem]">
                <ul class="breadcrumbs font-bold text-[1.2rem] leading-[2.2rem]">
                    @@for (var i = 0; i < breadcrumbs.length; i++) { 
                        <li class="inline">`+breadcrumbs[i]+`</li>
                    }
                </ul>
            </div>
            <h1 class="hero-second__title title-1 max-w-[41.3rem]">@@title</h1>
            <div class="hero-second__text max-w-[41.3rem]">@@text</div>
        </div>
    </div>
</section>