
$mainFontFamily: 'Montserrat', sans-serif;
$secondFontFamily:  "Anton", sans-serif;

$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$textColorDark: #1E1D1B;
$textColorDarkSecond: #CBCBCB;
$textColorLight: #fff;
$themeColor: #1E1D1B;
$themeColorSecond: #fff;
$themeColorThird: #00A1E2;
$themeColorFourth: #F0FAFC;